html,body {
	height:100%;
	width:100%;
	margin:0;
}
body , body {
	display:flex;
	background: #badc58;
	font-family: arial;
}
form {
	margin:auto;
	border-radius: 5px;
	display: block;
}

form input {
	font-size: 16px;
	display: block;
	width: 250px;
	height: 35px;
	border: none;
	margin-bottom: 3px;
	border-bottom: 3px solid silver;
	padding: 3px;
	outline: none;
	color: black;
}

button {
	border-radius: 5px;
	padding: 5px;
	height: 30px;
	width: 60px;
	margin-top: 12px;
	margin-left: 100px;
	background: #badc58;
	color: white;
}

.card_1301164488 {
	position: relative;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	width: 250px;
	margin: auto;
	margin-top: 100px;
}


form input[type="submit"]:hover {
	cursor: pointer;
	background: #A5C24E;
}

form input[type="text"]:hover {
	color: black;
	border-color: #badc58
}

form input[type="password"]:focus{
	color: black;
	border-color: #badc58;
}
